@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "crimento";
  color-scheme: "dark";
  --color-base-100: oklch(12% 0.042 264.695);
  --color-base-200: oklch(27% 0.041 260.031);
  --color-base-300: oklch(44% 0.043 257.281);
  --color-base-content: oklch(100% 0 0);
  --color-primary: oklch(38% 0.176 304.987);
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: oklch(75% 0.183 55.934);
  --color-secondary-content: oklch(40% 0.123 38.172);
  --color-accent: oklch(0% 0 0);
  --color-accent-content: oklch(100% 0 0);
  --color-neutral: oklch(44% 0.017 285.786);
  --color-neutral-content: oklch(100% 0 0);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(0% 0 0);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(0% 0 0);
  --color-warning: oklch(90% 0.182 98.111);
  --color-warning-content: oklch(0% 0 0);
  --color-error: oklch(63% 0.237 25.331);
  --color-error-content: oklch(0% 0 0);
  --radius-selector: 0rem;
  --radius-field: 0rem;
  --radius-box: 0rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --noise: 1;
}
